<div class="movement">
  <div class="title">
    Продвижение Бренда
  </div>
  <div class="subtitle">
    приводит в следующим результатам
  </div>
  <div class="results">
    <div class="result result1">
      <div class="title">Популярность</div>
      <div class="desc">Больше людей будут знать о Вас. Больше шансов, что в момент необходимости обратятся к Вам.</div>
    </div>
    <div class="result result2">
      <div class="title">Прибыль</div>
      <div class="desc">Чем больше спрос, тем больше прибыль. Раскрутка товара не только повышает число клинтов, но также
        и спрос</div>
    </div>
    <div class="result result3">
      <div class="title">Уверенность</div>
      <div class="desc">Фирма, о которой знают гораздо меньше подвержена вероятности бесследно исчезнуть.</div>
    </div>
  </div>
</div>
