<video autoplay muted loop>
  <source src="/assets/video/Cut-n-Paste.mp4" type="video/mp4" />
</video>
<app-title2></app-title2>
<app-benefits></app-benefits>
<app-give-work-for-proffs></app-give-work-for-proffs>
<div class="photo-tree">
  <div class="tree">
    <div class="left">
      <ng-container *ngFor="let photo of photos; let i = index">
        <div *ngIf="i % 2 == 0" class="sub-wrapper">
          <div class="sub-left"></div>
          <div class="sub-content">
            <h4 class="sub-header">{{ photo.name }}</h4>
            <ul>
              <li *ngFor="let detail of photo.details">
                {{ detail }}
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="right">
      <ng-container *ngFor="let photo of photos; let i = index">
        <div *ngIf="i % 2 == 1" class="sub-wrapper">
          <div class="sub-right"></div>
          <div class="sub-content">
            <h4 class="sub-header">{{ photo.name }}</h4>
            <ul>
              <li *ngFor="let detail of photo.details">
                {{ detail }}
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="tree-padding"></div>
</div>
<div class="company">
  <div class="title">
    STUDIO64 - 12 лет опыта
  </div>
  <div class="desc">
    <div class="item">
      <div class="title">Качество проверенное временем</div>
      <div class="text">
        STUDIO64 является первой крупной компанией на территории СНГ, которая специализируется на раскрутке бизнеса про еду. Особенностью
        данной сферы деятельности является отсутствие готовых руководств. Каждая клиент - это целая история, к которой нужен
        особый подход, т.к. количество способов которыми можно продвигать продукт практически неограниченно. На сегодняшний
        день STUDIO64 представляет собой небольшую, проверенную временем, команду проффесионалов, каждый из которых способен
        горы свернуть.
      </div>
    </div>
    <div class="item">
      <div class="title">Гарантия результата</div>
      <div class="text">
        STUDIO64 является первой крупной компанией на территории СНГ, которая специализируется на раскрутке бизнеса про еду. Особенностью
        данной сферы деятельности является отсутствие готовых руководств. Каждая клиент - это целая история, к которой нужен
        особый подход, т.к. количество способов которыми можно продвигать продукт практически неограниченно. На сегодняшний
        день STUDIO64 представляет собой небольшую, проверенную временем, команду проффесионалов, каждый из которых способен
        горы свернуть.
      </div>
    </div>
    <div class="item">
      <div class="title">Особый подход к каждому</div>
      <div class="text">
        STUDIO64 является первой крупной компанией на территории СНГ, которая специализируется на раскрутке бизнеса про еду. Особенностью
        данной сферы деятельности является отсутствие готовых руководств. Каждая клиент - это целая история, к которой нужен
        особый подход, т.к. количество способов которыми можно продвигать продукт практически неограниченно. На сегодняшний
        день STUDIO64 представляет собой небольшую, проверенную временем, команду проффесионалов, каждый из которых способен
        горы свернуть.
      </div>
    </div>
  </div>
</div>
<div id="#photo-clients" class="photo-clients-class">
  <h3>Наши клиенты</h3>
  <div class="photo-clients-photo">
    <div class="photo-client" *ngFor="let client of clientPhotos">
      <img [src]="client.src" />
    </div>
  </div>
</div>
<div id="form" class="contact">
  <div class="left">
    <div class="title">Запишись на консультацию</div>
  </div>
  <div class="right">
    <div class="title">Запишись на консультацию</div>
    <div class="input">
      <input [(ngModel)]="record.name">
      <label [ngClass]="{'empty': !record.name}">Имя</label>
      <span class="underline"></span>
    </div>
    <div class="input">
      <input [(ngModel)]="record.phone">
      <label [ngClass]="{'empty': !record.phone}">Телефон</label>
      <span class="underline"></span>
    </div>
    <div class="input">
      <textarea [(ngModel)]="record.message" name="message"></textarea>
      <label [ngClass]="{'empty': !record.message}">Сообщение</label>
      <span class="underline"></span>
    </div>
    <button mat-button mat-raised-button type="submit">Записаться</button>
  </div>
  <!-- <div class="helper">
       Мы готовим на нашей кухне самый вкусный и аутентичный SMM для представителей ниши HoReCA. Мы повышаем узнаваемость бренда,
      привлекаем целевую аудиторию и увеличиваем количество продаж. SMM - Ваш шаг в успешное будущее</div> -->
</div>
<div class="map">
  <ya-map [zoom]="13" [latitude]="latitude" [longitude]="longitude">
    <ya-marker #marker [latitude]="latitude" [longitude]="longitude"
    [balloonContentHeader]="'STUDIO64'"
    [balloonContentBody]="'ул. Мележа 1'"
    [draggable]="false">
    </ya-marker>
  </ya-map>
</div>
<div class="footer">
  <div class="top">
    <div class="contacts">
      <div class="address">
        г. Минск, ул. Мележа, дом 1, пом. 1426
      </div>
      <div class="phone">
        +37529-166-10-55
      </div>
      <div class="mail">
        marketing@studio64.by
      </div>
    </div>
  </div>
  <div class="bottom">
    <div>
      Общество с ограниченной ответсвенностью "Студио 64"
    </div>
    <div>
      УНП: 193030150
    </div>
  </div>
</div>