<div class="layout">

</div>
<div class="top-row">
  <div class="logo">
    <span class="studio">STUDIO64</span>
    <span class="about">gastrosmm агенство</span>
  </div>
  <div class="contacts">
    <span class="phone1">+37529-001-01-01</span>
    <span class="phone2">+37529-002-02-02</span>
  </div>
</div>
<div class="content">
  <span class="title">
    <span class="line line1">Расскажи</span>
    <span class="line line2">о своём </span>
    <span class="line line3">продукте </span>
    <span class="line line4">клиенту</span>
  </span>
  <button class="action">
    Оформить заявку
  </button>
</div>