:host {
    display: block;
    overflow: hidden;
    .top-row {
        display: flex;
        background: white;
        padding: 1em 3em;
        justify-content: space-between;
        .logo, .contacts {
            display: flex;
            flex-direction: column;
            font-size: 1.5em;
        }

        .contacts {
            .phone {
                display: flex;
                flex-direction: row;
                height: 1em;
                align-items: center;
                margin-bottom: 0.15em;
                justify-content: flex-start;
                .icon {
                    width: 1em;
                    margin-right: 0.15em;
                }
            }
        }
    }

    .content {
        padding: 4em 3em;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        background: rgba(0,0,0,0.7);
        .title {
            font-size: 400%;
            text-align:center;
            color: white;
            display: block;
            padding: 0.5em;
            .line {
                width: 100%;
                display: inline-block;
            }
            .line1 {
                letter-spacing: 0.06em;
            }
            .line2 {
                letter-spacing: 0.22em;
            }
            .line3 {
                letter-spacing: 0.02em;
            }
            .line4 {
                letter-spacing: 0.11em;
            }
        }
        button {
            font-size: 2.1em;
            text-transform: unset;
            padding:  0.25em 0.5em;
        }
    }
}

@media only screen and (max-width: 563px) {
    :host {
        .top-row {
            flex-wrap: wrap;
            .logo {
                padding-bottom: 0.5em;
            }
        }
        .content {
            .title {
                font-size: 200%;
            }
            .action {
                font-size: 1em;
            }
        }
    }
}