<div class="benefits">
  <div class="results">
    <div class="result result1">
      <div class="desc">Популярность</div>
    </div>
    <div class="result result2">
      <div class="desc">Прибыль</div>
    </div>
    <div class="result result3">
      <div class="desc">Развитие</div>
    </div>
  </div>
  <div class="graphic">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none">
      <line x1="3" y1="97" x2="3" y2="10" stroke="black"></line>
      <line x1="3" y1="97" x2="97" y2="97" stroke="black"></line>
      <rect x="10" y="20" width="20" height="76" fill="white"></rect>
      <rect x="40" y="20" width="20" height="76" fill="#cabebe"></rect>
      <rect x="70" y="20" width="20" height="76" fill="#ab9191"></rect>
    </svg>
    <div class="about">STUDIO64 занимается продвижением бренда через социальные сети, естественным результатом грамотной работы становится рост популярности продукта, увеличение прибыли и развитие продвигаемого бизнеса.</div>
  </div>
</div>