<div class="about">
  <div class="title">
    Развивай Свой Бизнес
  </div>
  <div class="desc">
    В 21м веке существует переизбыток информациии покупателю очень сложно найти именно, то что ему нужно. Конкуренция очень большая
    и поэтому помимо высокого качества продукта, требуется продвигать свой продукт, чтобы давать возможность потенциальным
    клиентам узнать о Вас. Нередко бывает так, что о действительно хорошем и достойном продукте человек узнаёт совершенно
    случайно и начинает им пользоваться. С точки зрения бизнеса, всё то время, которое он не знал о продукте - это упущенная
    выгода. Давайте проиллюстрираем сказанное на примере.
  </div>
  <div class="task">
    <div class="svg-wrapper">
      <svg class="img" width="100%" height="400px" viewBox="0 0 100 100" preserveAspectRatio="none">
        <symbol id="user" viewBox="0 0 100 100" preserveAspectRatio="xMaxYMax meet">
          <circle r="40" fill="yellow" cx="50" cy="50"></circle>
          <circle r="8" cx="35" cy="35"></circle>
          <circle r="8" cx="65" cy="35"></circle>
          <path d="M35,70 Q50,75 65,70" fill="none" vector-effect="non-scaling-stroke" stroke="black" stroke-width="2px" stroke-linecap="round"></path>
        </symbol>

        <use class="user user1" width="20" height="20" href="#user" x="10" y="10"></use>
        <use class="user user2" width="20" height="20" href="#user" x="29" y="10"></use>
        <use class="user user3" width="20" height="20" href="#user" x="10" y="29"></use>
        <use class="user user4" width="20" height="20" href="#user" x="29" y="29"></use>
        <use class="user user5" width="20" height="20" href="#user" x="10" y="49"></use>
        <use class="user user5" width="20" height="20" href="#user" x="29" y="49"></use>

        <ellipse class="info-area" cx="63" cy="40" rx="10" ry="30" fill="white"></ellipse>
        <text x="62" y="40" style="font-size: 40%">B</text>
        <rect x="80" y="10" width="15" height="15" fill="white"></rect>
        <text x="86" y="18" style="font-size: 40%">A</text>
        <rect x="80" y="30" width="15" height="15" fill="white"></rect>
        <text x="86" y="38" style="font-size: 40%">B</text>
        <rect x="80" y="50" width="15" height="15" fill="white"></rect>
        <text x="86" y="58" style="font-size: 40%">C</text>

        <line x1="40" y1="80" x2="63" y2="70" stroke="black" stroke-dasharray="2"></line>
        <text x="10" y="85" style="font-size: 40%; font-weight: bold">Доступная информация</text>
      </svg>
    </div>
    <div class="text">
      <div class="sentence">
        1. Продукты ABC одинаково хороши
      </div>
      <div class="sentence">
        2. Клиент видит и знает только о существовании В
      </div>
      <div class="sentence">
        3. Какие шансы у продуктов А и С продать свои услуги или товар?
      </div>
      <div class="answer">
        Нулевые, основная масса людей будут пользоваться продуктом В. Вся прибыль уйдёт к компании В. Остальные компании со временем
        либо закроются, либо поглатятся компанией В.
      </div>
    </div>
  </div>
</div>
