<div class="menu">
  <div class="photo-main">
    <div class="content">
      <div class="mini-name">
        Лучшее в СНГ gastrosmm агенство
      </div>
      <div class="name">
        Studio 64
      </div>
      <div class="benefits">
        <div>Повышение узнаваемости бренда</div>
        <div>Увеличение доходности бизнеса</div>
        <div>Создание притока новых клиентов</div>
      </div>
      <!-- <div class="description">
      Amazing work for you with love and innsperation
    </div> -->
      <div [ngx-scroll-to]="'form'" class="action action2">
        Получить консультацию
      </div>
    </div>
  </div>
</div>
